<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>500</title>
</head>
<body>
<pre>
           .---.     .---.
          ( -o- )---( -o- )
          ;-...-`   `-...-;
         /                 \
        /                   \
       | /_               _\ |
       \`'.`'"--.....--"'`.'`/
        \  '.   `._.`   .'  /
     _.-''.  `-.,___,.-`  .''-._
    `--._  `'-._______.-'`  _.--`
         /                 \
        /.-'`\   .'.   /`'-.\
       `      '.'   '.'
</pre>
</body>
</html>